.Bodyblock {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 20px; */
  width: 80%;
  margin: 0 auto;
   padding: 20px 10px;
  height: auto; 
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  position: relative;

}


.buttonBlock {
  width: 50%;
  height: 28px;
  border: 1px solid;
  font-size: 12px;
  padding: 0 8px;
  color: #fff;
  font-weight: 500;
  text-transform: none;
  background: #000060;
  border-radius: 3px;
  font-size: 15px;
  font-family: sans-serif;
  margin-top: 10px;

}

@media screen and (max-width: 768px) {
  .buttonBlock {
    width: 70%;
  }
}

.box{
  margin-top: -10px;
   box-sizing: border-box;
    width: 95%;
    height: 300px;
    border: 1px solid black;
}

.AddHeading{
  text-align: center;
  font-family: monospace;
  font-size: 18px;
}

.backButton {
  position: absolute;
  top: 20px;
  right: 40px;
  background-color: #f5f5ef; 
  color: black; 
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.AddButton {
  background-color: #000060 !important; 
  color: white !important; 
  border: none !important;

}
.ResetButton {
  background-color: #f5f5ef !important; 
  color: black !important; 
  border: none !important;

}

.Resetbutton {
  position: absolute;
  top: 290px;
  right: 260px;
  background-color: #f5f5ef; 
  color: black; 
  border: none;
  padding: 2px 5px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 90px;
}


@media screen and (max-width: 768px) {
  .Resetbutton {
    width: 23%;
    margin-top: 88px;
    margin-right: -40px;
  }
}

.Addbutton {
  position: absolute;
  top: 290px;
  right: 150px;
  background-color: #000060; 
  color: white; 
  border: none;
  padding: 2px 5px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 90px;
}


@media screen and (max-width: 768px) {
  .Addbutton {
    width: 23%;
    margin-top: 88px;
    margin-right: -50px;
  }
}

@media screen and (max-height: 768px) {
  
} .box{
  height: 405px;
  
}